<section>
    <div class="container bg-main-light my-5 shadow p-5 rounded-2">
        <h1 class="text-main fw-bold">Register Now:</h1>
        @if(responseText){<p class="alert alert-danger p-2 text-center rounded-2 w-50 mx-auto">{{responseText}}</p>}
        <form [formGroup]="registerForm" (ngSubmit)="registerData()">
            <div class="my-3">
                <label class="mb-2" for="name"><span class="text-danger">*</span>Name:</label>
                <input [ngClass]="{
                    'is-valid' : !registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty ),
                    'is-invalid' : registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty )
                }"  type="text" class="form-control" id="name" formControlName="name">
                @if (registerForm.get("name")?.errors && registerForm.get("name")?.touched) {
                    <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                        @if (registerForm.get("name")?.getError("required")) {<p class="m-0">Name Is Required</p>}
                        @else if (registerForm.get("name")?.getError("minlength")) {<p class="m-0">Name Length must be at least 3</p>}
                        @else if (registerForm.get("name")?.getError("maxlength")) {<p class="m-0">Name Length must be maximum 10</p>}
                    </div>
                }
                
            </div>
            <div class="my-3">
                <label class="mb-2" for="email"><span class="text-danger">*</span>Email:</label>
                <input [ngClass]="{
                    'is-valid' : !registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty ),
                    'is-invalid' : registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty )
                }" type="email" class="form-control" id="email" formControlName="email">
                @if (registerForm.get("email")?.errors && registerForm.get("email")?.touched) {
                    <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                        @if (registerForm.get("email")?.getError("required")) {<p class="m-0">Email Is Required</p>}
                        @else if (registerForm.get("email")?.getError("email")) {<p class="m-0">Email format is not correct</p>}
                    </div>
                }
            </div>
            <div class="my-3">
                <label class="mb-2" for="password"><span class="text-danger">*</span>Password:</label>
                <input [ngClass]="{
                    'is-valid' : !registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty ),
                    'is-invalid' : registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty )
                }" type="password" class="form-control" id="password" formControlName="password">
                @if (registerForm.get("password")?.errors && registerForm.get("password")?.touched) {
                    <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                        @if (registerForm.get("password")?.getError("required")) {<p class="m-0">Password is required</p>}
                        @else if (registerForm.get("password")?.getError("pattern")) {<p class="m-0">Password must be at least 6 charachters</p>}
                    </div>
                }
            </div>
            <div class="my-3">
                <label class="mb-2" for="rePassword"><span class="text-danger">*</span>Confirm Password:</label>
                <input [ngClass]="{
                    'is-valid' : !registerForm.getError('missMatch') && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.dirty ),
                    'is-invalid' : registerForm.getError('missMatch') && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.dirty )
                }" type="password" class="form-control" id="rePassword" formControlName="rePassword">
                @if (registerForm.getError("missMatch") && registerForm.get("rePassword")?.touched) {
                    <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                        <p class="m-0">Passwords doesn't match</p>
                    </div>  
                }
            </div>
            <div class="my-3">
                <label class="mb-2" for="phone"><span class="text-danger">*</span>Phone:</label>
                <input [ngClass]="{
                    'is-valid' : !registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty ),
                    'is-invalid' : registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty )
                }"   type="tel" class="form-control" id="phone" formControlName="phone">
                @if (registerForm.get("phone")?.errors && registerForm.get("phone")?.touched) {
                    <div class="alert alert-warning p-2 fs-6 fw-bold rounded-2 mt-2">
                        @if (registerForm.get("phone")?.getError("required")) {<p class="m-0">Phone is required</p>}
                        @else if (registerForm.get("phone")?.getError("pattern")) {<p class="m-0">Egyptian numbers only are allowed</p>}
                    </div>
                }
            </div>
            <button [disabled]="registerForm.invalid" type="submit" class="btn-main w-50 d-block mx-auto">
                Register @if (loading) {<i class="fa-solid fa-spinner fa-spin"></i>}
            </button>
        </form>
    </div>
</section>