<section class="my-5">
    <div class="container">
        <div class="row g-4">
            @for (category of categoriesData; track category._id) {
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="category-card card h-100 cursor-pointer overflow-hidden">
                        <div class="category-img-container position-relative">
                            <img [src]="category.image" class="category-img" [alt]="category.slug">
                            <div class="category-overlay d-flex flex-column justify-content-end">
                                <h5 class="category-title mb-3">{{category.name}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>