<section class="container bg-main-light my-5 shadow p-5 rounded-2">
    <h1 class="text-main fw-bold ">Shipping Address:</h1>
    <div>
        <form [formGroup]="shippingAddressForm" (ngSubmit)="payOrder()">
            <div class="my-3">
                <label for="details"><span class="text-danger">*</span>Details:</label>
                <textarea formControlName="details" id="details" class="form-control p-2 my-2"></textarea>
            </div>
            <div class="my-3">
                <label for="phone"><span class="text-danger">*</span>Phone:</label>
                <input type="tel" formControlName="phone" id="phone" class="form-control p-2 my-2">
            </div>
            <div class="my-3">
                <label for="city"><span class="text-danger">*</span>City:</label>
                <input type="text" formControlName="city" id="city" class="form-control p-2 my-2">
            </div>
            <button type="submit" class="btn-main w-50 d-block mx-auto">
                Pay 
            </button>
        </form>
    </div>

</section>
